GEMINI_API_KEY=
FIRESTORE_PROJECT_ID=
FIRESTORE_EMULATOR_HOST=
VOTE_SESSION_HASH_SECRET=
CLICKHOUSE_HOST=
CLICKHOUSE_PORT=8443
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_SECURE=true
CLICKHOUSE_DATABASE=
GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=global
